#half{
    background-color: white;
    height: 200px;
    padding-left: 0px;
}
body{ 
    background-color: lightblue;
    text-align: center;
}
img{
    height: 50px;
    margin-top: 30px;
    border-radius: 100px;
}
input{
    border: 0px;
    background-color: white;
    border-bottom: 1px solid yellow;
}
#a{
    float: left;
    margin-left: 100px;
    margin-top: 150px;
    background-color: white;
    height: 300px;width: 250px;
    box-shadow: 5px 5px 10px yellow;
}
#b{
    float: left;
    margin-left: 100px;
    margin-top: 80px;
    background-color: white;
    height: 300px;width: 250px;
    box-shadow: 5px 5px 10px yellow;  
}